<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly" AdditionalAssemblies="[
            typeof(snowcoreBlog.Frontend.ReadersManagement.Extensions.WebApplicationBuilderExtensions).Assembly,
            typeof(snowcoreBlog.Frontend.SharedComponents.Extensions.WebApplicationBuilderExtensions).Assembly,
        ]">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(DefaultBlogLayout)">
                <NotAuthorized>
                    <FluentLabel>You're not authorized to view this content.</FluentLabel>
                </NotAuthorized>
                <Authorizing>
                    <FluentLabel>Please wait, we are authorizing the user.</FluentLabel>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(DefaultBlogLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>